{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %} <span class="display-6">Reports</span> {% endblock %}

 {% block content %}
 <table class="table">
            <tbody>
            <tr>
                <td><a href="/report/booking_details">Booking details</a></td>
            </tr>
            <tr>
                <td><a href="/report/airplane_pilot_details">Machine details and list of pilots eligible to fly it</a>
                </td>
            </tr>
            <tr>
                <td><a href="/report/passenger_bookings">Passengers and their list of bookings</a>
                </td>
            </tr>
            <tr>
                <td><a href="/report/pilot_schedule_by_month">Pilot Schedule by month</a>
                </td>
            </tr>
            <tr>
                <td><a href="/report/number_of_passengers_by_flight">Number of passengers by flight</a>
                </td>
            </tr>
            <tr>
                <td><a href="/report/number_of_working_hours_by_pilot">Number of working hours for all pilots</a>
                </td>
            </tr>
            <tr>
                <td><a href="/report/destinations_and_bookings">List of the company destinations and their schedule</a>
                </td>
            </tr>
            </tbody>
        </table>
{% endblock %}

